.show-results-button {
  background: #3482fb;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 2.5rem;
  padding: 0.9rem 0;
  text-align: center;
  width: 150px;
}
