.title__container {
  width: 100%;
  display: block;
  text-align: center;
}

.title {
  background: #feeb78;
  padding: 0.7rem;
  color: #8b8041;
  width: 100%;
  display: block;
}

.description {
  color: #727272;
  font-size: 0.9rem;
}
