.results-box-item {
  padding: 2rem 1rem 4rem;
  min-height: 200px;
  border-radius: 7px;
  box-shadow: 0 4px 3px 0 #c7c7c7;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.results-box-title {
  color: #575657;
  font-size: 0.9rem;
}

.result-box-processed {
  color: #bfbfbf;
  margin: 5px 0;
  font-size: 0.8rem;
}
